<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Page</title>
</head>
<body>
    <h1>Personal Page</h1>
    <p th:text="${person.getFullName()} + ', ' + ${person.getYearOfBirth()}"></p>
    <br/>
    <div th:if="${booksOfPerson != null && booksOfPerson.size() > 0}">
        <p>Books of the Person:</p>
        <ul th:each="book: ${booksOfPerson}">
            <li th:text="${book.getTitle()} + ', ' + ${book.getAuthor()}"></li>
        </ul>
    </div>
    <div th:if="${booksOfPerson == null || booksOfPerson.size() == 0}">
        <p>Person Doesn't have any books</p>
    </div>
    <hr/>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}" th:text="Edit"></a>
    <br/>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>