<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<h1>Creation Page</h1>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="full_name">Enter Name: </label>
    <input type="text" id="full_name" th:field="${person.fullName}">
    <br/>
    <label for="year_of_birth">Enter year of birth: </label>
    <input type="number" id="year_of_birth" th:field="${person.yearOfBirth}">
    <br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>