<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Page</h1>
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.id})}" th:object="${book}">
        <label for="title">Enter Name: </label>
        <input type="text" id="title" th:field="${book.title}">
        <br/>
        <label for="author">Enter Author: </label>
        <input type="text" id="author" th:field="${book.author}">
        <br/>
        <label for="year">Enter Year: </label>
        <input type="number" id="year" th:field="${book.year}">
        <br/>
        <input type="submit" value="Update"/>
    </form>
</body>
</html>